name: CI

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
      
      - name: Build
        run: make build

      - name: Run lint
        run: make lint

      - name: Check formatting
        run: make format-diff

      - name: Run tests
        run: make test
